:root{
    --headerBg: #121111;
    --softPink: #a76784;
    --bgEggshell: #f0f0f0;
    --softGrey: #333;
    --beige: #E2E2DE;
    --labelBrown: #9a7b69;

    --gradient: linear-gradient(to right, transparent 50%, var(--white_30) 100%);


    --fs-1: 4.8rem;
    --fs-2: 4rem;
    --fs-3: 3.4rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fs-9: 1.3rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    --section-padding: 35px;

    --shadow-1: 0 8px 16px var(--black_15);
    --shadow-2: 0 4px 10px var(--black_5);

    --radius-3: 3px;
    --radius-5: 5px;
    --radiusSoft: 10% / 5%;

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}


/* REOCURRING STYLES */
a {
    text-decoration: none;
}

body {
    font-family: "Scala Sans Pro", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--bgEggshell);
    color: var(--softGrey);
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {   /* will be switched out */
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    text-align: center;
}  
.container{
    height: auto;
    width: auto;
    position: relative;    
}
.textBox{
    text-align: justify;
    width: 100%;
}
.btn-link {
    color: #000;
    font-weight: var(--fw-600);
    /* display: flex; */
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
}
li{
    list-style: none;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.textBox h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.6em;
    /* margin: 10px; */
}
.labelText{
    color: var(--softPink);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    line-height: 16px;
    margin: 5px;
}
hr{
    opacity: 0%;
}
.btn-link {
    color: var(--softGrey);
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
}

.desc-text{
    text-align: justify;
    font-size: 0.9em;
}

.section-title{
    font-size: 2em;
}

.backToTop{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backToTop a{
    padding: 5px 10px;
    transition: 0.3s;
}
.backToTop a:hover{
    background-color: var(--beige);
}

/* ALL ABOUT SCROLLBAR */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--bgEggshell); 
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    .has-scrollbar::-webkit-scrollbar-track,
    .has-scrollbar::-webkit-scrollbar-thumb { background-color: transparent; }
    .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track {
    background-color: hsla(0, 0%, 88%, 0.105);
    }
    .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 70%);
    }

    .has-scrollbar {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        padding-block-end: 15px;
        margin-block-end: -15px;
        scroll-snap-type: inline mandatory;
    }
    .scrollbar-item {
        min-width: auto;
        scroll-snap-align: start;
    }


/* SLOGAN BOX */
.sloganbox{
    position:relative;
    /* background-image: url('../Pictures/fragranceBg.jpg'); */
    background-position-x: center;
    background-position-y: center;
    background-color:#00000047;
    background-size: cover;
    

    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    /* padding-left: 50px; */
    padding-bottom: 20px;
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    z-index: -1;
 }

.sloganbox h1{
    color: white;
    mix-blend-mode: difference;
    margin: 3px;
    font-size: 2.5em;
    /* font-family: 'Times New Roman', Times, serif; */
}

.sloganbox h2{
    color: white;
    mix-blend-mode: difference;
    font-size: 2em;
}

.sloganbox h4{
    color: var(--beige);
    /* color: var(--bgEggshell); */
    margin: 10px;
    /* font-weight: 100; */
    font-weight: 200;
    max-width: 600px;
    font-size: 0.9em;
}


/* PRODUCT PREVIEW */
.products-coll{
    position: relative;
    background-color: var(--beige);
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    gap: 30px;
} 
.products-coll .textBox{
    text-align: center;
}
.productsOffered{
    width: auto;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    /* IDK ABT THIS BG IMAGE LOL */
    padding: 20px;
    background-color: var(--beige);
    /* background-image: url(../Pictures/leavesbg.jpg); */

    background-blend-mode:darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* margin: 20px 10px; */
    /* gap: 40px; */
}
.flip-card {
    position: relative;
    background-color: transparent;
    max-width: 320px;
    width: 320px;
    height: 320px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-inline: 30px;
    /* margin: 20px; */
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* padding: 20px; */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    padding: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border: 1px solid coral; */
    border-radius: 1rem;
    background-size: cover;
    gap: 15px;
  }
  
  .flip-card-back {
    background-color: var(--bgEggshell);
    color: var(--softGrey);
    transform: rotateY(180deg);
  }

  .flip-card-back h2{
    
  }



/* SHOP PREVIEW */
.shop .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:end;
    gap: 18px;
    margin-block-end: 50px;
    margin: 20px;
}
.shop-card{
    background-color: white;
    width: 200px;
    border-style: hidden;
    border-radius: var(--radiusSoft);
    padding: 5px;
}

.productPrev{
    padding-inline: 15px
}
.img-cover {
    width: 100%;
    height: 260px;
    object-fit: contain;
}
.shop-card .card-banner {
    position: relative;
    overflow: hidden; 
}

.shop-card .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--softPink);
}

.shop-card .card-actions {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: grid;
    gap: 10px;
    opacity: 0;
    transition: var(--transition-2);
}

.shop-card .action-btn {
    /* background-color: #f0f0f0be; */
    background-color: var(--beige);
    font-size: 14px;
    padding: 8px;
    border-radius: 50%;
    transition: var(--transition-1);
    border: none;
}

.shop-card .action-btn:is(:hover, :focus) {
    background-color: black;
    color: var(--bgEggshell);
}
.shop-card:is(:hover, :focus-within) .card-actions {
    opacity: 1;
    transform: translate(-7px, -50%);
}
.shop-card .card-content {
    padding-block: 10px;
    text-align: center;
}
.shop-card :is(.price, .card-rating, .rating-wrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.shop-card .price .span {
    color: var(--softGrey);
    font-weight: var(--fw-900);
}
.shop-card .card-title {
    color: var(--softGrey);
    font-size: var(--fs-9);
    font-weight:var(--fw-500);
    margin-block-end: 8px;
    transition: var(--transition-1);
    text-decoration: none;
}
.shop-card h3{
    margin: 5px;
}
.shop-card .card-title:is(:hover, :focus) {
    color: var(--softPink);
}
.shop-card .rating-wrapper {
    gap: 2px;
    color: var(--softPink);
    font-size: 15px;
}
.shop-card .rating-text {
    color: var(--softPink);
    font-weight: 100;
    margin: 5px;
}
.shop .btn-link:is(:hover, :focus) { 
    color: var(--softPink); 
}




 /* COLLECTIONS PREVIEW */

.collection{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.collection-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0%;
    /* gap: 10px; */
}
.collection-card {
    /* background-color: var(--light-gray); */
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 400px;
    min-width: 330px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
    transition: var(--transition-2);
}

.collection-card:hover{
    transform: scale(1.02);
}

.collection-card .card-title { 
    margin-block-end: 5px;
    font-weight: 500;
}
.collection-card p, h2{
    margin: 0;
    font-weight: 100;
}

.collection-card .card-text {
    color:var(--softGrey);
    font-size: var(--fs-6);
    font-weight: 200;
    margin-block-end: auto;
}

.collection-card a:hover{
    text-decoration: underline;
}


/* The testing thingy ozot */
.testing-coll{
    display: flex;
    flex-direction: row;
    background-color: #e2e2de;
    /* background-color: var(--beige); */
    padding: 50px 70px;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.testing-coll img{
    /* max-height: 500px; */
    /* min-width: 400px; */
    max-height: 500px;
    max-width: 500px;
    min-width: 300px;
    object-fit:cover;
}
.testing-coll .textBox{
    max-width: 360px
}


/* FEATURES LOL */
.feature-coll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    /* background-color: #fff; */
}
.flex-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border: 0;
}

.feature-card{
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    max-width: 360px;
}

/* FOOTER */
footer{
    background-color: #000000ff;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.container-footer {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   font-family: poppins;
   padding:0 2rem;
}
.col .logo{
   width: 100px;
   margin-bottom:25px;
}
.col h3{
   color:var(--softPink);
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: var(--softPink);
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color: var(--softPink);
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: var(--softPink);
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:var(--softPink);
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-details i{
   margin-right:15px;
}
.row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem 0;
}
.row .form input{
   background-color: #1a1c20ff;
   border:0;
   outline:none;
   padding:14px 20px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.form button{
   padding:14px 20px;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: var(--softPink);
}


/* SHOPS STYLE */
.listProduct{
    display: grid;
    background-color: var(--beige);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    /* margin-top: 40px; */    
}
.listProduct .item{
    background-color: white;
    padding: 10px;
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.1);
    overflow: hidden;

}
.listProduct .item img{
    width: 100%;
    /* margin-left: -8%; */
    height: auto;
    /* justify-self:center; */
    /* position: relative; */
    background-color: #f4f4f4;
    object-fit: contain;
    /* max-height:; */
    /* filter: drop-shadow(0 50px 20px #0009); */
}


/********** Responsive Design ********/
@media(max-width:900px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 20px;
 }}



/* MEDIA WIDTHS */
@media (max-width:800px){
    .sloganbox{
        /* background-image: url('../Pictures/bgimage.avif'); */
    }
    .products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;

    }
    .productText{
        width: 400px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .products img{
        object-fit: cover;
        /* background-image: url(../Pictures/flowersBg1.jpg); */
        width: 300px;
        height: 300px;
    }

    .container {
        /* max-width: 540px; */
        width: 100%;
        margin-inline: auto;
    }

    :is(.header, .hero) .container {max-width: uset; }


    /* header */
    .alert { padding-block: 8px; }

    .header-top .container { padding-inline: 30px; }

    .hero-card { padding-inline: 70px;}

    .hero-text { max-width: 30ch;}
    

    .collection-list{
        display: flex;
        flex-direction: column;
    }

    .collection-card{
        margin-inline: 5px;
        max-width: 100%;
        background-position: center;
        margin-top: 20px;
    }

    .flex-list{
        padding-inline: 5px;
    }

    

}



