:root{
    --headerBg: #212020;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: var(--headerBg);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
    nav ul {
        list-style-type: none;
        padding: 10px 15px;
        display: flex;
        margin-left: 400px;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        transition: background-color 0.3s;
    }
    
    nav ul li a:hover {
        background-color: #555;
    }


footer {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1{
    color: white;
}

.imgbox{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 0%;
    overflow:hidden;
}

.imgbox img{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.container{
    height: auto;
    width: auto;
    position: relative;
    background-color: #9e9f8b;
    
}
.container .sloganbox{
    position:relative;
    background-image: url(Pictures/fragranceBg.jpg);
    background-position-x: center;
    background-position-y: center;
    background-color: #575755;
    background-repeat:no-repeat;
    background-blend-mode:overlay;
    background-size:cover;
    background-attachment: fixed;

    height: 700px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.sloganbox h1{
    color: #d8d1c9;
    margin: 10px;
    font-size: 3.1em;
}

.sloganbox h4{
    color: #c4bcb5;
    margin: 10px;
    /* font-weight: 100; */
    font-weight: 200;
    max-width: 600px;
    font-size: 0.9em;
}

.sloganbox button{
    color: #d8d1c9;
    display: inline-block;
    margin: 10px;
    background-color: rgba(0, 0, 0, 20%);
    width: fit-content;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px rgba(0, 0, 0, 40%);
}

.sloganbox button:hover {
    background-color: rgba(255, 255, 255, 5%); /* Green */
    color: #d8d1c9;
  }

.sloganbox button:active {
    background-color: rgba(0, 0, 0, 20%); /* Green */
    color: #d8d1c9;
    box-shadow: 0 2px rgba(0, 0, 0, 70%);
    transform: translateY(2px);
}

/* pjesa 2 */ 
.productsOffered{
    position: relative;
    background-color: #f0f0f0;
    padding: 80px;
    width: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.products{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2.5%;
} 

.products:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
}

.productText{
    width: 400px;
    padding-right: 30px;
    text-align: justify;
}

.products img{
    max-width: 400px;
    min-width: 200px;
    object-fit: cover;
    width: 350px;
    height: 350px;
}

hr{
    opacity: 0%;
}

@media (max-width:850px){
    .products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    .productText{
        width: 400px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .products img{
        object-fit: cover;
        width: 400px;
        height: 400px;
    }
}
